.App {
  font-family: sans-serif;
  text-align: center;
  background: lightgray;
}

.Game {
  text-align: center;
}

.Grid {
  display: inline-block;
  text-align: center;
  background: white;
  width: 300px;
}

.Box {
  float: left;
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 80px;
  line-height: 100px;
  cursor: grab;
}

.Box:hover {
  background: lightgreen;
  opacity: 0.6;
}

button {
  background: lightgreen;
  width: 80px;
  height: 40px;
  padding: 6px 2px;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  color: #444;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  transition: width 1s;
}

button:hover {
  width: 300px;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #444;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h3 {
  font-family: Helvetica, sans-serif;
  color: #444;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
  box-sizing: border-box;
  border-color: #444;
  margin: 5px 0px;
}
