.App {
  font-family: sans-serif;
  text-align: center;
  background: lightgray;
}

.Game {
  text-align: center;
}

.Grid {
  display: inline-block;
  text-align: center;
  background: lightgray;
  width: 300px;
}

.Box {
  float: left;
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 80px;
  line-height: 100px;
  cursor: grab;
}

.Box:hover {
  background: lightgreen;
  opacity: 0.5;
}

button {
  background: lightgreen;
  width: 70px;
  padding: 4px 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  color: #444;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h3 {
  font-family: "Helvetica Neue", sans-serif;
  color: #444;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
  box-sizing: border-box;
  border-color: #444;
  margin: 5px 0px;
}
